#ArticleTitle {
    min-width: 25vw;
    width: auto !important;
    height: 5vh;
    line-height: 5vh;
    font-family:"Microsoft YaHei UI";
    font-size:5vh;
    color:#fff;
    text-align:center;
    border: 0px solid red;
    margin-top: 6vh;
    margin-left: 38vw;
    float: left;
}

#ArticleInfo {
    min-width: 30vw;
    width: auto !important;
    height: 3vh;
    font-family: "Microsoft YaHei UI";
    font-size: 2vh;
    color: #fff;
    font-weight:700;
    text-align: center;
    border: 0px solid red;
    margin-top: 2vh;
    margin-left: 21vw;
    float: left;
}

#ArticleContent {
    width: 98%;
    min-height: 64vh;
    line-height: 3vh;
    height: auto !important;
    font-family: "Microsoft YaHei UI";
    font-size: 1.8vh;
    color: #fff;
    text-indent: 5%;
    text-align: left;
    border: 0px solid red;
    margin-left: 1%;
    margin-top: 2vh;
    float: left;
}

#myPlayer {
    width: 98%;
    height: 61vh;
    margin-left: 1%;
    margin-top: 0%;
    border: 0px solid red;
    float: left;
}

    #myPlayer .video-js .vjs-tech {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.isSpecial {
    color:#e517ae;
    font-family:'STSong';
    font-weight:700;
    font-size:1.8vh;
}

.isTop {
    color: red;
    font-family: 'STSong';
    font-weight: 700;
    font-size: 1.8vh;
}
