#home .categor {
    width: 98.5%;
    height: 8vh;
    margin-left: 0.5%;
    margin-top: 2vh;
    background-color: #92CAE5;
    float: left;
}

    #home .categor .categorItem {
        min-width: 5vw;
        width: auto !important;
        height: 3vh;
        line-height: 3vh;
        font-family: 'Microsoft YaHei UI';
        font-size: 2.1vh;
        color: #003085;
        text-align: center;
        margin-left: 3vw;
        margin-top: 2.5vh;
        border: 0px solid red;
        float: left;
    }

        #home .categor .categorItem a {
            text-decoration: none;
            text-transform: none;
            color: #003085;
        }

#home .focus-left {
    width: 47%;
    height: 23vh;
    margin-left: 0.5%;
    margin-top: 2vh;
    background-color: #E3F5FF;
    float: left;
}

#home .focus-right {
    width: 47%;
    height: 23vh;
    margin-left: 4.4%;
    margin-top: 2vh;
    background-color: #E3F5FF;
    float: left;
}

.focus-image {
    width: 17vw;
    height: 20vh;
    position: relative;
    margin-left: 1vw;
    margin-top: 1.3vh;
    float: left;
}

    .focus-image .coverImage {
        width: 100%;
        height: 100%;
    }

    .focus-image .playIcon {
        width: 10vh;
        height: 5vw;
        top: 5vh;
        left: 6vw;
        position: absolute;
    }

.article-info {
    width: 27vw;
    height: 20vh;
    margin-left: 1vw;
    margin-top: 1.3vh;
    border: 0px solid red;
    float: left;
}

    .article-info .title {
        width: 98%;
        height: 3vh;
        line-height: 3vh;
        font-family: 'Microsoft YaHei UI';
        font-size: 2vh;
        color: #080806;
        text-align: left;
        text-indent: 1%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 1%;
        margin-top: 0.2vh;
        border: 0px solid red;
        float: left;
    }

        .article-info .title a {
            text-decoration: none;
            text-transform: none;
            color: #080806;
        }

    .article-info .article-CreatedTime {
        min-width: 3vw;
        width: auto !important;
        height: 3vh;
        line-height: 3vh;
        margin-left: 17vw;
        margin-top: 3vh;
        font-family: 'Microsoft YaHei UI';
        font-size: 2vh;
        color: #080806;
        text-align: center;
        border: 0px solid red;
        float: left;
    }

    .article-info .article-Author {
        min-width: 3vw;
        width: auto !important;
        height: 3vh;
        line-height: 3vh;
        margin-left: 0.5vw;
        margin-top: 3vh;
        font-family: 'Microsoft YaHei UI';
        font-size: 2vh;
        color: #080806;
        text-align: center;
        border: 0px solid red;
        float: left;
    }

    .article-info .article-brief {
        width: 98%;
        height: 9.5vh;
        margin-left: 1%;
        margin-top: 0.3vh;
        font-family: 'Microsoft YaHei UI';
        font-size: 2vh;
        color: #080806;
        text-align: left;
        display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
        -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
        -webkit-line-clamp: 3; /* 2行，只有 webkit内核支持 */
        word-break: break-all; /* 纯英文换行 */
        overflow: hidden;
        border: 0px solid red;
        float: left;
    }

@media (max-width:1089px) {
    .article-info .article-brief {
        display: -webkit-box; /* 将对象作为弹性伸缩盒子模型显示 */
        -webkit-box-orient: vertical; /* 设置或检索伸缩盒对象的子元素的排列方式 */
        -webkit-line-clamp: 2; /* 2行，只有 webkit内核支持 */
        word-break: break-all; /* 纯英文换行 */
        overflow: hidden;
    }
}

#home .article-list-container {
    width: 100%;
    height: 47vh;
    margin-left: 0%;
    margin-top: 2vh;
    border: 0px solid red;
    float: left;
}

#home .nodata {
    width: 100%;
    height: 71vh;
    line-height:71vh;
    font-family:'Microsoft YaHei UI';
    font-size:3vh;
    color:#fff;
    text-align:center;
    margin-left: 0%;
    margin-top: 2vh;
    border: 0px solid red;
    float: left;
}

    #home .article-list-container .item {
        width: 19.3vw;
        height: 19.3vh;
        margin-top: 2vh;
        margin-left: 0.4vw;
        position: relative;
        float: left;
    }

        #home .article-list-container .item .coverImage {
            width: 100%;
            height: 100%;
        }

        #home .article-list-container .item .linkPanel {
            width: 100%;
            height: 3.8vh;
            background-color: #0101017a;
            font-family: 'Microsoft YaHei UI';
            font-size: 2.1vh;
            color: #fff;
            font-weight: 700;
            text-align: left;
            text-indent: 2%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            left: 0%;
            top: 16vh;
            z-index: 300;
        }

@media (max-width:1332px) {
    #home .article-list-container .item .linkPanel {
        top: 13.2vh;
    }
}

@media (max-width:1026px) {
    #home .article-list-container .item .linkPanel {
        top: 11.4vh;
    }
}

    #home .article-list-container .item .linkPanel a {
        text-decoration: none;
        text-transform: none;
        color: #fff;
    }

        #home .article-list-container .item .linkPanel a:hover {
            text-decoration: underline;
            text-transform: none;
            color: #fff;
        }

    #home .article-list-container .item .playIcon {
        width: 4vw;
        height: 7vh;
        top: 5vh;
        left: 7vw;
        position: absolute;
    }

@media (max-width:1026px) {
    #home .article-list-container .item .playIcon {
        top: 3vh;
    }
}

    @media (max-width:1524px) {
        #home .article-list-container .item {
            width: 19.3vw;
            height: 18vh;
            margin-top: 2vh;
            margin-left: 0.4vw;
            float: left;
        }
    }

    @media (max-width:1370px) {
        #home .article-list-container .item {
            width: 19.3vw;
            height: 17vh;
            margin-top: 2vh;
            margin-left: 0.4vw;
            float: left;
        }
    }

    @media (max-width:1089px) {
        #home .article-list-container .item {
            width: 19.3vw;
            height: 15.3vh;
            margin-top: 2vh;
            margin-left: 0.4vw;
            float: left;
        }
    }

    @media (max-width:1019px) {
        #home .article-list-container .item {
            width: 19.3vw;
            height: 14vh;
            margin-top: 2vh;
            margin-left: 0.4vw;
            float: left;
        }
    }

.elDialog {
    width: 43vw;
    height: 82vh;
    background-color: #1555bb;
}
